.vscode/*
*.log
*.img
*.px4
*.mp4
_resources/*
**/config.py
**/config.pyc
etc/wpa_supplicant/wpa_supplicant.conf
home/pi/offboard/googlemaps_apikey.py
*.pyc
home/pi/MAVSDK-Python/
.DS_Store
etc/hosts
disk_images/
etc/wpa_supplicant/
