[Unit]
Description=glympse
After=network-online.target

[Service]
ExecStart=/usr/bin/python2.7 /home/bellergy/glympse/glympse.py
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
