[Unit]
Description=Radio Control Service
Wants=zerotier-one.service
After=network-online.target zerotier-one.service

[Service]
ExecStart=/usr/bin/python /home/pi/rc/rc.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
