[Unit]
Description=MAVLink Router
Wants=zerotier-one.service
After=network-online.target zerotier-one.service

[Service]
Type=simple
ExecStart=/usr/bin/mavlink-routerd -e groundstation.zt:14550
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
