[Unit]
Description=MAVSDK Server
Wants=zerotier-one.service
After=network-online.target zerotier-one.service

[Service]
Type=simple
ExecStart=/home/pi/MAVSDK-Python/mavsdk/bin/mavsdk_server udp://127.0.0.1:14550 -p 5000  
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
