[Unit]
Description=raspivid
Wants=zerotier-one.service
After=network-online.target zerotier-one.service

[Service]
ExecStart=/home/pi/raspicam/raspicam.sh

[Install]
WantedBy=default.target
cat /boot/config.txt